<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理界面-电影推酷网</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.3/themes/default/easyui.css"
          th:href="@{/jquery-easyui-1.3.3/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.3/themes/icon.css"
          th:href="@{/jquery-easyui-1.3.3/themes/icon.css}"/>
    <script type="text/javascript" src="/static/jquery-easyui-1.3.3/jquery.min.js"
            th:src="@{/jquery-easyui-1.3.3/jquery.min.js}"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.3.3/jquery.easyui.min.js"
            th:src="@{/jquery-easyui-1.3.3/jquery.easyui.min.js}"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js"
            th:src="@{/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js}"></script>
</head>
<script type="text/javascript">

    /*<![CDATA[*/

    function logout() {
        $.messager.confirm("系统提示", "您确定要退出系统吗？", function (r) {
            if (r) {
                window.location.href = "/logout";
            }
        });
    }

    //iconCls只能选择一个
    function openTab(text, url, iconCls) {
        if ($("#tabs").tabs("exists", text)) {
            $("#tabs").tabs("select", text);
        } else {
            var content = "<iframe frameborder=0 scrolling='auto' style='width:100%;height:99.6%' src='/admin/" + url + "'></iframe>";
            $("#tabs").tabs("add", {
                title: text,
                iconCls: iconCls,
                closable: true,
                content: content
            });
        }

        // $()函数的另外一个作用：动态创建元素
        //在标题文字后面添加span元素，就是添加reload图片，必须要有空格作为背景，否则图片不显示
        //判断是否已经添加过元素，否则每次都会添加span元素
        if($("span.tabs-title:contains("+text+") + span.icon-reload").length==0){
            $("<span class='icon-reload'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>").insertAfter("span.tabs-title:contains(" + text + ")");
        }

    }


    /*]]>*/

</script>
<body class="easyui-layout">
<div region="north" style="height: 86px;background-color: #E0ECFF">
    <table style="padding: 5px" width="100%">
        <tr>
            <td width="50%">
                <img alt="logo" src="/static/images/logo.jpg" style='width: 375px;height:65px'
                     th:src="@{/images/logo.jpg}"/>
            </td>
            <td valign="bottom" align="right" width="50%">
                <font size="3">&nbsp;&nbsp;<strong>欢迎：</strong><span th:text="${#httpServletRequest.remoteUser}"></span></font>
            </td>
        </tr>
    </table>
</div>

<div region="center">
    <div class="easyui-tabs" fit="true" border="false" id="tabs">
        <div title="首页" data-options="iconCls:'icon-home'">
            <div align="center" style="padding-top: 100px"><font color="red" size="10">欢迎使用</font></div>
        </div>
    </div>
</div>

<div region="west" style="width: 200px" title="导航菜单" split="true">
    <div style="padding-top: 10px;padding-left: 10px;" data-toggle="topjui-sidemenu" data-options="data:data">
        <a href="javascript:openTab('添加电影信息','film/toAddFilm','icon-addFilm')" class="easyui-linkbutton"
           data-options="plain:true,iconCls:'icon-addFilm'" style="width: 150px;">添加电影信息</a>
        <a href="javascript:openTab('电影动态管理','webSiteInfo/toWebSiteInfoManage','icon-dynamic')" class="easyui-linkbutton"
           data-options="plain:true,iconCls:'icon-dynamic'" style="width: 150px;">电影动态管理</a>
        <a href="javascript:openTab('电影信息管理','film/toFilmManage','icon-film')" class="easyui-linkbutton"
           data-options="plain:true,iconCls:'icon-film'" style="width: 150px;">电影信息管理</a>
        <a href="javascript:openTab('网址信息管理','webSite/toWebSiteManage','icon-website')" class="easyui-linkbutton"
           data-options="plain:true,iconCls:'icon-website'" style="width: 150px;">网址信息管理</a>
        <a href="javascript:openTab('友情链接管理','link/toLinkManage','icon-link')" class="easyui-linkbutton"
           data-options="plain:true,iconCls:'icon-link'" style="width: 150px;">友情链接管理</a>
        <a href="javascript:logout()" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-exit'"
           style="width: 150px;">安全退出</a>
    </div>
</div>

<div region="south" style="height: 30px;padding: 5px" align="center">
    Copyright © 断弯刀
</div>

<script type="text/javascript">

    /*<![CDATA[*/

    //刷新标签页内容
    function myTabUpdate(title) {
        if (title.valueOf() == "添加电影信息") {
            return "<iframe frameborder=0 scrolling='auto' style='width:100%;height:99.6%' src='/admin/film/toAddFilm'></iframe>";
        }
        if (title.valueOf() == "电影动态管理") {
            return "<iframe frameborder=0 scrolling='auto' style='width:100%;height:99.6%' src='/admin/webSiteInfo/toWebSiteInfoManage'></iframe>";
        }
        if (title.valueOf() == "电影信息管理") {
            return "<iframe frameborder=0 scrolling='auto' style='width:100%;height:99.6%' src='/admin/film/toFilmManage'></iframe>";
        }
        if (title.valueOf() == "网址信息管理") {
            return "<iframe frameborder=0 scrolling='auto' style='width:100%;height:99.6%' src='/admin/webSite/toWebSiteManage'></iframe>";
        }
        if (title.valueOf() == "友情链接管理") {
            return "<iframe frameborder=0 scrolling='auto' style='width:100%;height:99.6%' src='/admin/webSite/toWebSiteManage'></iframe>";
        }
    }

    //刷新按钮绑定单击事件
    $("body").on('click', '.icon-reload', function () {

        var tabs = $('#tabs').tabs('tabs');
        var tabIndex = $(this).closest('li').index();   //打开的第几个tab
        var title = $('.tabs-selected').text();    //选中的tab页的title,这个是动态获取。

        $('#tabs').tabs('update', {
            tab: tabs[tabIndex],
            options: {
                content: myTabUpdate(title)
            }
        });
    });

    //双击标签页即可关闭
    $("#tabs").bind('dblclick', function () {
        //alert($('.tabs-selected').text());
        var title = $('.tabs-selected').text().trim();    //选中的tab页的title,这个是动态获取。
        $("#tabs").tabs('close', title);
    })

    /*]]>*/
</script>
</body>
</html>